@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Foram's intro page";
}

<h3>Foram Patel</h3>

<form>
    <div class="form-group">
        <label for="number1">Number 1</label>
        <input type="number" class="form-control" id="number1" name="number1" />
    </div>
    <div class="form-group">
        <label for="number2">Number 2</label>
        <input type="number" class="form-control" id="number2" name="number2" />
    </div>
    <div class="form-group">
        <label for="result">Number 1</label>
        <input type="number" class="form-control" id="result" name="result" />
    </div>
    <button type="submit" class="btn-default">Calculate</button>
</form>

@section MySection{
    <p>Hello!! My name is Foram Patel. I am studying Mobile Application Development at Cambrian College of Applied Arts and Technologies. This is my first web application.</p>
}

<p>This is my intro page. Welcome to my first web application.</p>